.loginsignup{
    width: 100%;
    height: 80vh;
    background: #fce3fe;
    padding-top: 20px;
}
.loginsignup_container{
    width: 580px;
    height: 585px;
    background: white;
    margin: auto;
    padding: 40px 60px;
    padding-bottom: 20px;
}
/* .loginsignup_container h1{
    margin: 0px 0;
} */

.loginsignup_fields{
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-top: 18px;
}
.loginsignup_fields input{
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}

.loginsignup_container button{
    width: 100%;
    height: 68px;
    color: white;
    background: #ff4141;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.loginsignup_login{
    margin-top: 20px;
    columns: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
.loginsignup_login span{
    color: #ff4141;
    font-weight: 600;
}

.loginsignup_agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}