.offers{
    width: 85%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffe122 60%);
}
.offer_left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offer_left h1{
    color: #171717;
    font-size: 70px;
    font-weight: 600;
}
.offer_left p{
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}
.offer_left button{
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}
.offer_right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
.offer_right img{
    height: 500px;
    margin-bottom: 95px;
    margin-left: 130px;
}